.customProfile {
  background-color: #333;
  color: #fff;
  margin: 2rem 0;
  padding: 2rem;
}
.customerItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}
