.logo {
  animation: logo-spin infinite 20s linear;
  height: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
}

.title {
  font-size: 1.5em;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
