body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: left;
}

.con {
  width: 100%;
}

.App-content {
  padding-top: 20px;
  font-size: large;
}

.cards-content {
  margin-top: 170px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

tr {
  color: #5b5757;
}

.results {
  padding-top: 15px;
}

.footer {
  padding-top: 20px;
  text-align: center;
}

.card {
  width: 18rem;
}

.list-item {
  list-style: none;
  margin-top: 10px;
  /* border-bottom: 1px solid #d6d0d0; */
  padding-bottom: 8px;
}

.form-container {
  border: 1px solid rgb(218, 215, 215);
  width: 100%;
  padding: 3rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.highlighted {
  background-color: #cab8ff;
}
