.search {
  padding: 0.25rem 0 3rem 0;
}

.search-wrapper {
  border-top: 1px solid #e9ecef;
}

.search-box label {
  font-weight: bold;
  padding: 0.75rem;
  margin-bottom: 0;
  color: #5b5757;
}

.search-row {
  display: block;
  border-top: 2px solid #e9ecef;
  padding-top: 1rem;
}

.search-row input {
  margin-right: 1rem;
}
