.search {
  padding: 0.25rem 0 3rem 5;
}

.search-wrapper {
  border-top: 1px solid #e9ecef;
}

.search-box label {
  font-weight: bold;
  padding: 1rem;
  margin-bottom: 0;
  color: #5b5757;
}

.search-row {
  display: flex;
  flex-direction: row;
  border-top: 2px solid #e9ecef;
  margin: 10px;
  padding-top: 1rem;
}

.search-row input {
  margin-right: 1rem;
  max-width: 200px;
}
