.nav_header {
  width: 100%;
  background: rgb(1, 1, 48);
  padding: 5px;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
}

.nav_title {
  font-size: 2em;
  color: white;
}

.nav_logo {
  max-width: 40px;
}
