.footer {
  background-color: #979573;
  text-align: center;
  width: 100%;
  padding: 1rem 0;
  color: #fff;
}

.footer h3 {
  color: var(--primary-light);
}

.footer .top,
.bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.footer .social {
  display: flex;
  justify-content: space-between;
  width: 280px;
}

.footer .icon {
  color: var(--primary-light);
}

.footer .left,
.right {
  display: flex;
  align-items: center;
}

.address {
  padding-left: 7rem;
}

.footer ul {
  display: flex;
}

.footer li {
  padding: 0 0.5rem;
}

@media screen and (max-width: 1140px) {
  .footer ul {
    flex-direction: column;
  }

  .address {
    padding-left: 0;
  }
}
