.footer {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 0;
}
