.appFooter {
  width: 100%;
  background-color: #222;
  height: 122px;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.listFooter {
  list-style-type: none;
}
