* {
  margin: 0px;
  padding: 0px;
}
.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(221, 227, 242);
  height: 50px;
  padding: 20px;
  color: white;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
}
#hederHotel {
  display: flex;
  justify-content: space-around;
  width: auto;
  border: 2px solid rgb(215, 215, 248);
  height: 80px;
}
#hotel-logo {
  border: 2px solid rgba(55, 88, 253, 0.646);
  border-radius: 50px;
  width: 100px;
}
#header-name {
  color: black;
}

.App-title {
  font-size: 1.5em;
}

.App-content {
  padding-top: 20px;
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.search {
  padding: 5px 0 20px 0;
}

tr {
  color: #5b5757;
}

.results {
  padding-top: 15px;
}

.footer {
  padding-top: 20px;
  text-align: center;
}

.card {
  align-items: center;
  width: 13rem;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 1em;
  box-shadow: 5px 5px 10px rgb(80, 79, 78);
}
#allCard {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 20px;
  margin-top: 50px;
}
#london {
  height: 172.22px;
  width: 129.16px;
}
#glasgow {
  width: 200px;
}
#manchester {
  width: 200px;
}
#restautant {
  text-align: center;
  font-family: sans-serif;
  border: 2px solid rgb(211, 211, 212);
}
#footer {
  margin-top: 20px;
  text-align: center;
  text-decoration: solid;
}
