.App {
  text-align: left;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  color: white;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.App-title {
  font-size: 1.5em;
}

.App-content {
  padding-top: 20px;
  font-size: large;
}

.img-logo {
  width: 50px;
  height: 50px;
  padding: 5px;
  margin-left: 30px;
}

.list-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

li {
  list-style: none;
  color: white;
  padding: 5px;
}

ul {
  padding: 10px;
  text-align: center;
}

footer {
  background-color: #222;
}

.search {
  padding: 5px 0 20px 0;
}

tr {
  color: #5b5757;
}

.results {
  padding-top: 15px;
}

footer {
  padding-top: 20px;
  text-align: center;
  margin-top: 50px;
}

.card {
  width: 18rem;
  margin: 30px;
}

.card-img-top {
  height: 150px;
}

.card-body {
  display: flex;
  justify-content: center;
}

.table thead th {
  vertical-align: middle;
}

.booking-days {
  text-align: center;
}

.pizzas ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.pizzas li {
  width: 300px;
  color: #333;
  text-align: left;
  padding: 10px;
}

.orders {
  align-items: center;
  display: flex;
}

.select {
  background-color: red;
  color: white;
}
