.App-header {
  background-color: #222;
  color: white;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.6rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
}

.App-content {
  padding-top: 20px;
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.search {
  padding: 5px 0 20px 0;
}

tr {
  color: #5b5757;
}

.results {
  padding-top: 15px;
}

.footer {
  padding-top: 20px;
  text-align: center;
  background-color: #c2b6b6;
  padding: 2rem;
}

.card {
  width: 25rem;
}
.header-image {
  margin-left: 1rem;
  height: 4rem;
  width: auto;
}
.header-text {
  margin-left: 2rem;
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
ul {
  list-style: none;
}
.card-body {
  text-align: center;
}

.card-img-top {
  height: 17rem;
  padding: 0.6rem;
}
