:root {
  --font-paragraph: "Caveat", cursive;
  --font-header: "Righteous", cursive;
  --dark-blue: #0a2243;
  --pink: #9a1076;
}

.App {
  text-align: left;
  font-family: var(--font-paragraph);
}

.App-title {
  font-size: 25px;
}

.App-content {
  padding-top: 20px;
  font-size: large;
}

/* main-section */
.main-wrapper {
  position: relative;
  background-color: rgba(10, 34, 67, 0.5);
  padding-bottom: 40px;
  min-height: 60vh;
}

.main-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("./media/main_back_3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-header);
}

button,
.button {
  background-color: var(--pink);
  color: white;
  border: 1px solid #0a2243;
  border-radius: 50px;
  padding: 5px 20px;
  font-size: 22px;
  line-height: 24px;
}

button:hover,
.button:hover {
  background-color: var(--dark-blue);
}

.main-page-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  grid-template-areas: "form text";
  margin: 20px 40px;
}

/* welcome text in main sector */
.reservation-text {
  color: white;
  text-align: right;
  grid-area: text;
}

.reservation-text p {
  font-size: 25px;
  padding: 20px 0 20px 20px;
}

/* new booking form */
.new-booking-form {
  grid-area: form;
  max-width: 80%;
  background-color: white;
  padding: 20px 30px;
  border: 1px solid #0a2243;
  border-radius: 20px;
  font-size: 22px;
}

.new-booking-form .form-group {
  margin: 0;
}

.new-booking-form .button {
  cursor: pointer;
  margin-top: 20px;
}

.new-booking-form label {
  margin: 0;
}

.new-booking-form input {
  font-size: 22px;
  border: 1px solid #0a2243;
  border-radius: 50px;
}

.search {
  padding: 5px 0 20px 0;
}

tr {
  color: #5b5757;
  cursor: pointer;
}

.selected-row {
  background-color: antiquewhite;
}

.results {
  padding-top: 15px;
}

.footer {
  padding-top: 20px;
  text-align: center;
}

.footer-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

@media (max-width: 768px) {
  .main-page-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      "text"
      "form";
  }

  .reservation-text {
    text-align: center;
    margin-bottom: 30px;
  }

  .new-booking-form {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
}
