.App {
  text-align:left;
}

.restaurant-orders{
margin-inline-start: 11%;
}

.restaurant-orders ul, ul{
list-style: none;
}

.footer-contact-info{
text-align: center;
}

.App-logo {
  height: 30px;
  margin-top: -70px;
  margin-inline-start:10%; 
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
  
}

.App-title {
  font-size: 1.5em;
}

.App-content {
  padding-top: 20px;
  font-size: large;
}


.search {
  padding: 5px 0 20px 0;
}

tr {
  color: #5b5757;
}

.results {
  padding-top: 15px;
}

.footer {
  padding-top: 20px;
}

.App-TouristInfoCards{
  display: flex;
  justify-content: space-around;
}
