.App {
  text-align: left;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 40px;
}

.App-header {
  display: flex;
  flex-direction: row;
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 25px;
}

.App-title {
  font-size: 1.5em;
}

.App-content {
  padding-top: 20px;
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.search {
  padding: 5px 0 20px 0;
}

tr {
  color: #5b5757;
}

.results {
  padding-top: 15px;
}

.footer {
  padding-top: 20px;
  text-align: center;
}

/*for TouristInfoCards.js*/
.card {
  flex-basis: calc(33.33% - 10px);
  margin-bottom: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .card {
    flex-basis: calc(50% - 10px);
  }
}

@media screen and (max-width: 480px) {
  .card {
    flex-basis: 100%;
  }
}

.card-img {
  height: 20rem;
  object-fit: cover;
}

.selectRow {
  background: red;
}
