.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
}

.App-title {
  font-size: 1.5em;
}

.App-content {
  padding-top: 20px;
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.search {
  padding: 2%;
}
thead {
  color: whitesmoke;
}

.results {
  padding-top: 15px;
}

.footer {
  padding-top: 20px;
  text-align: center;
  font-weight: bold;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  /* border: 2px solid green; */
  margin: 0.5%;
  padding: 0.5%;
}
.card {
  width: 33.33%;
  margin: 10px;
}
.card-img-top {
  width: 100%;
  height: 25rem;
}
.card-title {
  font-weight: bold;
}
.card-text {
  padding: 10px 0 0 0;
}
.footer-list {
  list-style: none;
}
