.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
  width: 50px;
  border-radius: 20%;
  margin-top: 0%;
}

.App-header {
  display: flex;
  background-color: rgb(170, 35, 35);
  height: 10px;
  padding: 60px;
  color: white;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
}

.App-title {
  font-size: 1.5em;
}

.App-content {
  padding-top: 10px;
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.search {
  padding: 5px 0 20px 0;
}

tr {
  color: #3a3838;
  font-size: large;
  background-color: darkgoldenrod;
}

.results {
  padding-top: 15px;
}

.footer {
  padding-top: 30px;
  text-align: center;
  background-color: rgb(133, 87, 29);
  font-size: x-large;
  font-style: italic;
  font-weight: bolder;
  border-radius: 5%;
}

.card {
  background-color: chocolate;
  margin: 25px;
  width: 35rem;
  height: 38rem;
  padding: 25px;
  display: inline-flex;
}
img {
  width: 200px;
  height: 300px;
  margin: 10px;
}
