body {
  background-color:aliceblue;
}
.App-header {
  background-color: black;
  height: 60px;
  color: white;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 2rem;
}

.App-title {
  font-size: 10px;
}

.search {
  padding: 5px 0 20px 0;
}

tr {
  color: #5b5757;
}

.results {
  padding-top: 15px;
}

.footer {
  padding-top: 20px;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: row;
  row-gap: 50px;
  justify-content: space-around;
  background-color: aliceblue;
}

.logo {
  height: 70px;
  width: 100px;
}

header {
  display: flex;
  flex-direction: row;
}

h2 {
  font-weight: bold;
  font-size: 30px;
  text-align: flex-start;
  color: plum;
}
.card-img-top {
  height: 25rem;
  width: 25rem;
}

.card-title{
  color: white;
  background-color: black;
  font-size: 1rem;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1rem;
  background-color: beige;
}
.card-body {
  width: 18rem;
}

.btn-primary {
  background-color: brown;
}

.welcome{
display: flex;
flex-direction: column;
font-size: 2rem;
}

.welcome-img{
  display: flex;
  max-width: auto;
  height: 25rem;
  border: 2px solid brown;
  margin: 0rem 4rem 1rem 4rem;
 
 
}

.welcome-text{
  text-align: center;
  color: blueviolet;
}



@media only screen and (max-width: 600px) {
  .card {
    flex-direction: column;
  }
  .welcome-img{
  margin: 0;
 
 
}

}
