html {
  font-size: 10px;
}

.text-left {
  color: #fff;
  padding: 0 1rem;
  font-size: 3rem;
  margin-bottom: 3rem;
}
label {
  color: #fff;
}

body {
  background-color: rgba(7, 7, 7, 0.986);
  font-family: Arial, Helvetica, sans-serif;
}

/* -----------------------header-------------- */
.App-logo {
  height: 6rem;
  margin-right: 2rem;
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  display: flex;
  align-items: center;
  background-color: #324672;
  padding: 2rem;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

/* -------------------Cities' Cards------------------ */
.card {
  width: 70%;
  display: flex;
  margin: 5rem auto;
  align-items: center;
  box-shadow: 0.5rem 0.5rem 0.5rem grey;
  color: black;
}

.cardHeading {
  margin: 4rem 0;
  font-size: 3rem;
  text-shadow: 0.2rem 0.2rem 0.3rem black;
}

.cityDescription {
  padding: 0 5rem;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

a {
  margin-bottom: 2rem;
}

/* -----------------------footer---------------------- */
footer {
  background-color: #324672;
  color: white;
  padding: 2rem 0;
}

ul {
  margin: 0;
  list-style: none;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ---------------------------------Bookings' Table----------------- */
table {
  background-color: white;
  font-size: 1.5rem;
  margin: 2rem auto 5rem auto;
  border: 1px solid black;
  text-align: center;
}

th {
  border: 1px solid black;
  padding: 2rem;
}

td {
  border: 1px solid black;
  padding: 1.5rem;
}

caption {
  caption-side: top;
  color: white;
  font-size: 3rem;
  margin-bottom: 1.5rem;
  text-align: center;
  text-shadow: 0.2rem 0.2rem 0.3rem white;
}

/* -----------------Search ------------ */
.search {
  padding: 0.5rem 0 2rem 0;
}
