.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.logo {
  height: 60px;
  padding: 10px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 8px;
  color: white;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
}

.App-title {
  font-size: 1.5em;
}

.App-content {
  padding-top: 20px;
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.search {
  padding: 5px 0 20px 0;
}

tr {
  color: #5b5757;
}

.results {
  padding-top: 15px;
}

.btn {
  border-radius: 6px;
  margin: 2em 1em;
  flex: 0 0 calc(100vw -2em -1em);
  height: 7vh;
  display: block;
  transition: all 300ms;
  color: rgb(248, 245, 245);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer {
  padding-top: 20px;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.text-style {
  list-style-type: none;
}
.card {
  /* display: flex;
  justify-content: space-around; */
  width: 18rem;
  text-align: center;
}
