.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 1.5em;
  float: left;
  margin-bottom: 0.2em;
  margin-right: 0.5em;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
}

.App-title {
  font-size: 1.5em;
}

.App-content {
  padding-top: 20px;
  font-size: large;
}

.info-cards {
  display: flex;
  justify-content: space-around;
  margin-top: 3em;
  text-align: center;
}

.card > img {
  height: 15em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p.loading,
p.error {
  margin: 2em auto;
  text-align: center;
}

p.error {
  color: red;
}

.search {
  padding: 5px 0 20px 0;
}

tr {
  color: #5b5757;
}

tr.selected {
  background-color: deepskyblue;
}

td:first-child {
  display: table-cell;
  font-weight: bold;
}

.results {
  padding-top: 15px;
}

.card {
  width: 18rem;
}

.table {
  text-align: center;
}

div.orders {
  padding: 0.5em;
}

div.orders ul {
  list-style-type: none;
  margin: 0em;
  padding: 0em;
}
div.orders ul li {
  margin: 0.25em 0;
  padding: 0.3em;
}

/* FOOTER STYLES */
.footer {
  padding-top: 20px;
  text-align: center;
  list-style-type: none;
}
