@import url('https://fonts.googleapis.com/css2?family=Anton&family=Monomaniac+One&family=Quicksand:wght@300&display=swap');

.App {
  text-align: left;
}

.tourist-cards {
  /* margin-left: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); */
  margin-top: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 100px;
  margin-bottom: 20px;
  border: 1px solid rgb(245, 163, 32)
}

.App-header {
  background-color: #272626;
  height: 130px;
  padding: 20px;
  color: rgb(245, 163, 32);
  text-align: left;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 1em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 51px;
  font-family: 'Monomaniac One', sans-serif;
}

.App-title {
  font-size: 1.5em;
}

.App-content {
  padding-top: 20px;
  font-size: large;
}

  .order-type {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 100px;
  }

  .row-nonHighlight {}

  .row-highlight {
    background-color: rgb(245, 163, 32);
  }

  .order-head {
    display: flex;
    justify-content: center;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  .search {
    padding: 5px 0 20px 0;
  }

  tr {
    color: #5b5757;
  }

  .results {
    padding-top: 15px;
  }

  .footer {
    padding-top: 20px;
    text-align: center;
  }

  .card {
    width: 18rem;
  }