.App {
  text-align: left;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo-title {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 20px;
}
.logo-hotel {
  width: 40px;
  height: 40px;
}

.App-title {
  font-size: 1.5em;
}

.App-content {
  padding-top: 20px;
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.search {
  padding: 5px 0 20px 0;
}

tr {
  color: #5b5757;
}

.results {
  padding-top: 15px;
}

.footer {
  padding: 2rem;
  /* padding-top: 20px; */
  text-align: center;
  display: flex;
  /* flex-direction: center; */
  justify-content: center;
  background-color: #222;
  color: white;
}

.footer-contact {
  list-style: none;
}

.card {
  width: 18rem;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.card-img-top {
  width: 100%;
  height: 200px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.customer-profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
