.App {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  text-align: left;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: 100%;
  height: 100px;
  color: white;
  font-size: 1em;
  background-color: #0121ef;
}

.logo-image {
  width: 50px;
}

.App-content {
  padding-top: 20px;
}

.page-header {
  width: 50%;
}

.search {
  padding: 5px 0 20px 0;
  width: 50%;
}

tr {
  color: #5b5757;
}

.results {
  padding-top: 15px;
}

.card-container {
  display: flex;
  margin-top: 25px;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18rem;
}

.card-img-top {
  max-height: 50%;
}

.footer {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding-top: 20px;
  text-align: center;
  list-style-type: none;
  gap: 25px;
}

.selected-color {
  background: red;
}
