.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
}

.App-title {
  font-size: 1.5em;
}

.App-content {
  padding-top: 20px;
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.search {
  padding: 5px 0 20px 0;
}

tr {
  color: #5b5757;
}

.results {
  padding-top: 15px;
}

.footer {
  /* padding-top: 20px; */
  text-align: center;
}
li {
  list-style-type: none;
}
.card {
  width: 18rem;
}

.imgCard {
  width: 100%;
  height: 200px;
}
.raper {
  margin: 10px;
}

.footerContaner {
  margin-top: 8rem;
  min-width: 100vw;
  height: 5rem;
  color: #fff;
  /* background-color: #222; */
}
/* .footerContaner li {
  color: #000;
} */
.buttonCardContainer {
  margin-top: 2rem;
}
.cardContainer {
  margin: 2rem 0 3rem 0;
}
.table {
  margin-bottom: 3rem;
}
.header {
  height: 3em;
  margin-top: 20px;
  display: flex;
  justify-items: center;
  font-size: 20px;
}
.headerRap {
  display: flex;
  justify-content: center;
}
