.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.App-header > img {
  height: 30px;
  margin-right: 3rem;
}

.App-header > p {
  margin-top: auto;
  margin-bottom: auto;
}

.App-title {
  font-size: 1.5em;
}

.App-content {
  padding-top: 20px;
  font-size: large;
}

.cardSection {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.card,
.card-body {
  display: flex;
  justify-content: center;
}

.card-img-top {
  height: 80%;
}

.btn-primary {
  height: 40px;
}

.search {
  padding: 5px 0 20px 0;
}

tr {
  color: #5b5757;
}

.results {
  padding-top: 15px;
}

.footer {
  padding-top: 20px;
  text-align: center;
}

.card {
  width: 18rem;
}

.highlighted {
  background-color: yellow;
}
