.attractions {
  background-image: linear-gradient(
    269.87deg,
    #0a2243 0.1%,
    #203e72 48.95%,
    #0a2243 99.87%
  );
  padding: 5% 40px;
}

.inside-attractions {
  max-width: 1250px;
  display: block;
  margin: 0 auto;
}

.attractions h1 {
  color: var(--pink);
  -webkit-text-stroke: 2px white;
  font-size: 100px;
  margin-left: 60px;
}

.info-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 22rem;
  margin: 0 20px 20px 20px;
  border-radius: 0px 50px 50px 0px;
  border: 2px solid #9a1076;
}

.card img {
  border-radius: 0px 50px 0px 0px;
}

.card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  min-height: 350px;
}

.card-body h5 {
  font-family: var(--font-header);
}

@media (max-width: 768px) {
  .card {
    margin: 20px 20px;
  }

  .attractions h1 {
    margin-left: 0;
    text-align: center;
  }
}
