.container {
  width: 100%;
  padding: 0;
}

.search {
  padding: 5px 0 20px 0;
  background-image: linear-gradient(
    269.87deg,
    #0a2243 0.1%,
    #203e72 48.95%,
    #0a2243 99.87%
  );
  color: white;
  padding: 40px;
  font-size: 25px;
}

.search-header {
  display: flex;
}

.search-header h3 {
  margin-left: 30px;
  font-size: 34px;
  font-family: var(--font-paragraph);
}

.search col {
  padding: 0;
}

.search-row {
  display: flex;
  align-items: center;
}

.search label {
  color: white;
}

.search-row input {
  width: 78%;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50px;
  color: white;
  font-size: 22px;
}

.search-row input::placeholder {
  color: rgba(255, 255, 255, 0.641);
}

.search-buttons {
  display: flex;
}

.search-buttons button {
  margin-right: 10px;
}

tr {
  color: #5b5757;
  cursor: pointer;
}

.selected-row {
  background-color: antiquewhite;
}

.results {
  padding-top: 15px;
}

@media (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .search-row {
    flex-direction: column;
  }

  .search-buttons {
    margin-top: 20px;
  }
}
