form {
  display: flex;
  flex-direction: column;
  width: 750px;
  gap: 10px;
  margin: 20px;
}
input {
  width: 250px;
  border-radius: 5px;
}
.submit {
  width: 150px;
  border-radius: 5px;
}
.firstName {
  display: flex;
}
.surname {
  display: flex;
}
.email {
  display: flex;
}
