.container {
  width: 100%;
  padding: 0;
}

/* search component */
.search {
  padding: 5px 0 20px 0;
  background-image: linear-gradient(
    269.87deg,
    #0a2243 0.1%,
    #203e72 48.95%,
    #0a2243 99.87%
  );
  color: white;
  padding: 40px;
  font-size: 25px;
}

.search-header {
  display: flex;
}

.search-header h3 {
  margin-left: 30px;
  font-size: 34px;
  font-family: var(--font-paragraph);
}

.search .col {
  padding: 0;
}

.search-row {
  display: flex;
  align-items: center;
}

.search label {
  color: white;
}

.search-row input {
  width: 78%;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50px;
  color: white;
  font-size: 22px;
}

.search-row input::placeholder {
  color: rgba(255, 255, 255, 0.641);
}

.search-buttons {
  display: flex;
}

.search-buttons button {
  margin-right: 10px;
}

/* table */
.table-wrapper {
  background-image: url(./media/palms.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  min-height: 50vh;
  padding: 40px;
}

.table {
  width: 100%;
  background-color: white;
  font-size: 25px;
}

.pink-row th {
  background-color: var(--pink) !important;
}

tr {
  color: #5b5757;
  cursor: pointer;
  font-size: 26px;
}

.selected-row {
  background-color: var(--dark-blue);
  color: white;
}

.results {
  padding-top: 15px;
}

@media (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .search-row {
    flex-direction: column;
  }

  .search-buttons {
    margin-top: 20px;
  }

  .search-row input {
    width: 90%;
  }
}

@media (max-width: 1200px) {
}
