:root {
  --font-paragraph: "Caveat", cursive;
  --font-header: "Righteous", cursive;
  --dark-blue: #0a2243;
  --pink: #9a1076;
}

.navbar {
  width: 100%;
  padding: 15px 20px;
}

.navbar-brand {
  color: white !important;
  font-size: 28px;
  font-family: var(--font-header);
}

.nav-item {
  color: white !important;
  font-size: 25px;
  padding: 0 20px !important;
}

.nav-item:hover {
  color: var(--pink) !important;
}

.logo {
  padding-left: 20px;
  height: 70px;
  width: auto;
}
