body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.search-wrapper {
  border-top: 1px solid #e9ecef;
}

.search-box label {
  font-weight: bold;
  padding: 0.75rem;
  margin-bottom: 0;
  color: #5b5757;
}

.search-row {
  display: flex;
  border-top: 2px solid #e9ecef;
  padding-top: 15px;
}

.search-row input {
  margin-right: 10px;
}

.header {
  padding: 10px;
  display: flex;
  align-items: center;
  letter-spacing: 1.2px;
  background-color: #231f20;
}

.header span {
  color: beige;
  font-weight: 700;
  font-size: 1.6rem;
}

header img {
  height: 70px;
  border-radius: 50%;
  width: 80px;
}

.cities {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.cities div {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.cities img {
  height: 300px;
}

.card-para {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.customer-table {
  font-size: 0.8rem;
  text-align: center;
}

.restaurant h3 {
  text-align: center;
}

.restaurant ul {
  margin: 40px auto;
  max-width: 500px;
  list-style: none;
}

.restaurant ul li {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-container button {
  width: 40px;
  padding: 5px;
  margin-left: 10px;
}

.restaurant ul li span {
  background-color: rgb(41, 109, 255);
  border-radius: 40%;
  padding: 6px 8px;
  color: white;
}

.restaurant ul li:last-child span {
  margin-left: -74px;
}

.table-row {
  margin: 77px;
}

.footer {
  background-color: #231f20;
  color: beige;
  padding: 40px;
}

.footer li {
  list-style: none;
}
