body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.search-wrapper {
  border-top: 1px solid #e9ecef;
}

.search-box label {
  font-weight: bold;
  padding: 0.75rem;
  margin-bottom: 0;
  color: #5b5757;
}

.search-row {
  display: flex;
  border-top: 2px solid #e9ecef;
  padding-top: 15px;
}

.search-row input {
  margin-right: 10px;
}
.card {
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
}
.card-img-top {
  /* width: 50px; */
}
.contact > li {
  list-style-type: none;
}
.footer {
  height: fit-content;
  width: 100%;
}
