body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.search-wrapper {
  border-top: 1px solid #e9ecef;
}

.search-box label {
  font-weight: bold;
  padding: 0.75rem;
  margin-bottom: 0;
  color: #5b5757;
}

.search-row {
  display: flex;
  border-top: 2px solid #e9ecef;
  padding-top: 15px;
}

.search-row input {
  margin-right: 10px;
}

.footer {
  background-color: black;
  color: beige;
  padding: 40px;
}

.footer li {
  list-style: none;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: gray;
  border: 1px solid #bacdd8;
  padding: 8px;
  border-radius: 1px;
  margin-right: 70px;
  height: 380px;
}

.card-image {
  width: 100;
  border-radius: 12px;
  height: 214px;
  object-fit: cover;
}

h4 {
  margin-top: 10px;
}

.card-detail > p {
  font-size: 14px;
  line-height: 150%;
}

.card-button button {
  border: none;
  /* padding: 12px 24px; */
  border-radius: 30px;
  font-weight: 600;
  color: #0077ff;
  background-color: #e0efff;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}

.card-container {
  max-width: 300px;
  /* margin: 0 auto; */
  margin-top: 10vh;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
