body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.search-box label {
  font-weight: bold;
  padding: 0.75rem;
  margin-bottom: 0;
  color: #5b5757;
}

.search-row {
  display: flex;
  padding-top: 15px;
}

.search-row input {
  margin-right: 10px;
}
