$colors: (
  main-nav: white,
  black-colors: Black
);
@function displayColor($theColor) {
  @return map-get($colors, $theColor);
}
@mixin flex-style {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@mixin glasgow {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 290px;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  font-size: 20px;
  line-height: 1.5;
  background-image: linear-gradient(purple, blue, blue, purple);
}
.main-nav {
  width: 90%;
  height: 7rem;
  background-image: linear-gradient(blue, purple);
  border-bottom: 3px solid map-get($colors, main-nav);
  margin: 0 auto;
  @include flex-style();
}

.logo {
  color: displayColor(main-nav);
}
.menu-links {
  width: 50%;
  text-align: end;

  ul {
    @include flex-style();
    width: 100%;

    li {
      font-size: 1.4rem;
      list-style: none;
      a {
        text-decoration: none;
        color: #fff;
      }
      a:hover {
        transition: 0.9s;
        text-decoration: underline;
        text-decoration-color: black;
      }
    }
  }
}
.span1,
.span2,
.span3 {
  text-transform: uppercase;
  font-weight: bolder;
  color: black;
}

.span-4 {
  width: 50px;
  font-size: 0.4em;
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
}
.ham-burger {
  visibility: hidden;
}
/* container tourist card  component styling  */
.container {
  perspective: 900px;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 70px auto;
  h2 {
    position: absolute;
    top: 0;
    text-align: center;
  }
}
article {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 13px;
  position: relative;
  top: 80px;
  bottom: 170px;
  width: 400px;
  height: auto;
  border-radius: 1rem;
  background-color: displayColor(main-nav);
}
.container article p {
  position: relative;
  font-size: 0.9em;
  background-color: rgba(255, 127, 161, 0.082);
  text-align: center;
}

.container article img {
  width: 370px;
  height: 250px;
  border-radius: 1rem;
  transition: 0.4s;
  text-align: center;
  position: relative;
  box-shadow: 0 12px 17px 0 #1f1602bd;
}

.container article .class-p1 {
  position: relative;
  width: 340px;
  text-align: center;
}
.col1 {
  transform: rotateY(21deg);
}
.col2 {
  transform: scale(0.9);
}
.col3 {
  transform: rotateY(-21deg);
}
/*  component places to visit styling css*/
.places {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: displayColor(main-nav);
  p {
    width: 230px;
    font-size: 1em;
  }
}
.glasgow {
  @include glasgow();
}
.london {
  @include glasgow();
}
.manchester {
  @include glasgow();
}
.places img {
  width: 320px;
  height: 200px;
}
.p-a p {
  width: 170px;
  font-size: 0.6em;
}
.places .p-a {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
