/* .tourist-info{
    display: grid;
} */

.card-img-top {
  width: 25%; 
  height: 30%;
  border-radius: 10px;
}

.h3, .para {
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.Tourist-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 5px;
  background-color: rgb(166, 171, 170);
}
