.card-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  height: 100%;
  margin: 1rem;
}

.card {
  flex: 1;
  display: grid;
  grid-template-rows: auto 1fr auto;
  border: 3px green solid;
  text-align: center;
}
